html {
  scroll-behavior: smooth;
}

#chatgpt-toc {
  position: relative; /* Not fixed! */
  background-color: var(--main-surface-primary);
  border-left: 1px solid var(--border-light, currentColor);
  font-size: 14px;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 260px;
  z-index: 10;
  min-width: 40px;
  transition: width 0.3s ease;
}

/*
#chatgpt-toc:hover,
#chatgpt-toc:has(ol li a:hover),
#chatgpt-toc:has(ul li a:hover) {
  width: 320px!important;
}
*/

#chatgpt-toc h4 {
  border-bottom: 1px solid var(--border-light, currentColor);
  background-color: var(--sidebar-surface-tertiary);
}

#chatgpt-toc.collapsed {
  width: 40px;
}

#chatgpt-toc.collapsed .toc-list,
#chatgpt-toc.collapsed #toc-search,
#chatgpt-toc.collapsed .p-2 {
  display: none;
}

#chatgpt-toc.collapsed h4 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  justify-content: center;
}

#chatgpt-toc.collapsed h4 span {
  transform: rotate(180deg); /* Rotate the arrow for visual feedback */
}

#chatgpt-toc ul,
#chatgpt-toc ol {
  max-height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: max-height 0.3s ease;
}

/* #chatgpt-toc ol.collapsed,
#chatgpt-toc ul.collapsed {
  max-height: 0;
  overflow: hidden;
} */

#chatgpt-toc a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed var(--border-light, currentColor);
}
#chatgpt-toc a:hover {
  text-decoration: none;
}
#chatgpt-toc a:hover,
#chatgpt-toc a.toc-active {
  background-color: var(--sidebar-surface-tertiary);
}

#toc-search {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
}

@media (max-width: 1250px) {
  #chatgpt-toc {
    display: none!important;
  }
}